<div class="container">
    <div class="row" >
        {% for car in cars %}
            <div class="col-lg-3 col-md-4 mb-3">
                <div class="card " style="height: 100%;">
                    <img id="{{ car.model }}" class="images" src="data:image/jpeg;base64,{{ car.image_data }}" alt="{{ car.model }} " style="height: 200px; width: auto;"> 
                    <div class="card-body">
                        <h5 class="card-title"> {{ car.model }}</h5>
                      <h5 class="card-title"> {{ car.color }}</h5>
                      <h5 class="card-title"> {{ car.year }}</h5>
                      <h5 class="card-title"> {{ car.mileage }}</h5>
                      <h5 class="card-title"> {{ car.fuel }}</h5>
                      <h5 class="card-title"> {{ car.HP }}</h5>
                      <h5 class="card-title"> {{ car.cc }}</h5>
                      <h5 class="card-title"> {{ car.price }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

